[2015-10-30 06:12] sckott opened #1 "Some registry fxns not working"

[2015-10-30 06:16] sckott opened #2 "Add test suite"

[2015-10-30 06:16] sckott opened #3 "Add coverage"

[2015-10-30 06:16] sckott opened #4 "Add docs via sphinx/readthedocs"

[2015-10-30 06:16] sckott opened #5 "Add code of conduct"

[2015-10-30 06:19] sckott opened #6 "Add CI"

[2015-10-30 06:19] #6 closed

[2015-11-01 18:55] sckott commented on #4
Two things to fix:

* Not building now given `shapely` import, not sure why
* can't get sphinx autodoc to work at all, doesn't recognize modules, says can't find them

[2015-11-01 18:56] sckott commented on #3
done

[2015-11-01 18:56] #3 closed

[2015-11-03 06:06] #5 closed

[2015-11-03 07:02] sckott opened #7 "Allow other inputs to geometry"
for now, getting rid of shapely, too heavy, look for lighter weight dependency.

[2015-11-03 17:50] sckott commented on #4
need to fill out more, but good enough for 1st submission

[2015-11-03 17:50] #4 closed

[2015-11-03 17:50] #2 closed

[2015-11-03 18:57] #1 closed

[2015-11-04 01:33] sckott opened #8 "Fix pypi landing page"
e..g., from `shapely`

https://github.com/Toblerity/Shapely/blob/master/setup.py#L162-L174

then use like https://github.com/Toblerity/Shapely/blob/master/setup.py#L188

[2015-11-07 01:49] sckott opened #9 "Put Github link at top of readme next to R link"

[2015-12-03 16:32] sckott opened #10 "Fix wheel to be 2/3 compatible"
should be doable as no C code, or 2 or 3 specific code I can think of

[2015-12-05 07:12] sckott commented on #10
works, in makefile, next version will have fix

[2015-12-05 07:12] #10 closed

[2015-12-05 17:13] #9 closed

[2015-12-05 17:14] sckott commented on #8
fixed, AFAIK

[2015-12-05 17:14] #8 closed

[2015-12-05 18:03] sckott opened #11 "Add more registry methods"

[2015-12-05 18:48] sckott commented on #11
almost done, still need to add organizations

[2015-12-05 18:49] #11 closed

[2015-12-05 18:49] sckott opened #12 "Add organizations method"

[2015-12-05 22:58] sckott opened #13 "Send headers to GBIF in all requests with client name and version"

[2015-12-05 22:59] sckott opened #14 "Add some examples and/or methods for helping make maps"

[2015-12-05 23:00] sckott opened #15 "Cleaning based on issues"
like in `rgbif`

[2015-12-05 23:09] sckott opened #16 "Add occurrence download methods"

[2015-12-05 23:09] sckott commented on #16
for reading in, see if there's a EML python client, probably there is

[2015-12-06 00:28] maurobio opened #17 "Add a method to return taxon url"
Add a method to return taxon url (as in the old and depreated python-gbif client library, https://github.com/matagus/python-gbif).

[2015-12-06 02:30] sckott commented on #17
In what cases?  Just in this case where you get an occurrence record by key?  (E.g, from that client)

[code]

[2015-12-06 02:35] maurobio commented on #17
Hi! That's the idea. It would be useful to have a method to return the url for a taxon when passing a key as a parameter (as in the example above).

[2015-12-06 02:49] sckott commented on #17
okay. Right now, I'm not using classes to keep things simple. I could switch to classes, as needed, for example in this case, so make it easy to attach methods for doing various things, e.g., getting the taxon url

[2015-12-06 02:52] maurobio commented on #17
I referred to a "method" just out of a habit; it could be a plain function.

[2015-12-06 02:58] sckott commented on #17
Okay thanks. But class methods do seem more pythonic

[2016-01-13 22:10] #13 closed

[2016-01-20 19:36] sckott opened #18 "Add remainder of species names methods"

[2016-05-19 22:07] sckott opened #19 "Make sure pygbif is python 3 compatible"

[2016-06-01 23:54] sckott opened #22 "doc bug in get() method, taxonKey should be key"

[2016-06-01 23:55] sckott opened #23 "download_get throwing content type mismatch error"
[code]

[2016-06-02 00:17] #22 closed

[2016-06-02 00:17] #23 closed

[2016-06-03 17:11] sckott opened #24 "Read darwin core GBIF files"
use https://github.com/BelgianBiodiversityPlatform/python-dwca-reader

[2016-06-04 16:02] sckott opened #25 "more thorough docs with more examples, use cases, etc."
good example https://github.com/scrapy/scrapy/blob/master/docs/index.rst and http://doc.scrapy.org

[2016-06-07 23:01] sckott commented on #16
fixed in #27

[2016-06-07 23:01] #16 closed

[2016-06-08 07:42] peterdesmet commented on #24
See also #28

[2016-06-08 16:42] sckott commented on #24
closing, since we won't add this to pygbif

[2016-06-08 16:42] #24 closed

[2016-06-15 14:27] sckott opened #29 "scientificName is failing on /occurrence/search route"
opened an issue http://dev.gbif.org/issues/browse/POR-3125

[2016-06-16 07:35] peterdesmet opened #30 "Add occurrence facet support"
See http://lists.gbif.org/pipermail/api-users/2016-June/000344.html. These facets allow to get quick counts for any occurrence search.

[2016-06-16 17:11] sckott commented on #29
seems to work now, closing

[2016-06-16 17:11] #29 closed

[2016-06-16 17:13] sckott opened #31 "Full text search: see if any changes need to be made"
from http://lists.gbif.org/pipermail/api-users/2016-June/000344.html

[2016-06-16 17:13] sckott opened #32 "repatriation filter"
from http://lists.gbif.org/pipermail/api-users/2016-June/000344.html

[2016-07-01 17:48] sckott commented on #32
add some example and tests following the above PR

[2016-07-01 22:04] #32 closed

[2016-08-09 17:26] sckott opened #34 "Add new /occurrence/search params"
* `subgenusKey`
* `repatriated` see also #216
* `phylumKey`
* `kingdomKey`
* `classKey`
* `orderKey`
* `familyKey`
* `genusKey`
* `establishmentMeans`

[2016-09-05 15:53] sckott opened #35 "multipolygon now supported in geometry"

[2016-09-07 00:04] #35 closed

[2016-10-01 19:00] sckott opened #36 "**kwargs fixes"
for `requests` arguments, list the acceptable set in docs, and allow only those to be passed to the request call, and

for GBIF arguments, e.g, faceting things, use those, then pop out of the kwargs before kwargs are passed to requests call

[2016-10-01 19:38] sckott commented on #30
* `facet`
* `facetMincount`
* `facetMultiselect `
* support facet paging

[2016-10-01 19:40] #30 closed

[2016-10-01 19:40] #34 closed

[2016-10-01 19:40] #36 closed

[2016-10-01 19:55] #31 closed

[2016-10-01 20:41] sckott commented on #14
if anyone has examples with non-heavy dependencies for people to get started with, i'm all ears

[2016-10-02 05:49] sckott opened #37 "add faceting in some registry endpts"
http://www.gbif.org/developer/registry

[2016-10-02 05:50] sckott opened #38 "add faceting in some species endpts"
http://www.gbif.org/developer/species

[2016-10-11 21:12] peterdesmet commented on #30
Cool! Gotta test this when I find some time.

[2016-10-11 21:19] sckott commented on #30
cool, hopefully it works as expected for you

[2016-10-18 08:00] tucotuco opened #39 "occurrences.get exception in demos documention"
From

https://github.com/sckott/pygbif/blob/master/demos/pygbif-intro.ipynb

The example
[code]
Throws an exception

[code]

[2016-10-18 17:54] sckott commented on #39
@tucotuco thanks for the heads up on this - that occurrence key does not exist anymore :(

I'll update the docs and make sure all egs work ... ⏲

[2016-10-18 18:44] tucotuco commented on #39
Thank you!

[2016-10-19 00:25] #39 closed

[2016-10-19 01:15] #12 closed

[2016-10-19 01:17] sckott opened #40 "add remainder of datasets methods"

[2016-10-19 01:17] sckott commented on #40
missing at least method for `/dataset/search`

[2016-10-19 17:04] #40 closed

[2016-10-19 17:04] sckott commented on #37
done in dc28bc17d1a86914d20647d1d14b3f70ecdb352d

[2016-10-19 17:04] #37 closed

[2016-10-19 21:43] #18 closed

[2016-10-19 21:44] sckott commented on #38
done in d157189

[2016-10-19 21:44] #38 closed

[2016-11-12 16:19] sckott opened #41 "Should we support maps API?"
Should we support the maps API?

If so, def. wait for /v2 to come out

[2016-11-12 17:13] peterdesmet commented on #41
I have no use case (yet).

[2016-11-12 17:55] sckott commented on #41
Okay, me neither. Recently accepted a PR in the R client for maps, main use case getting raster objects which users can use in analysis pipelines, or viz

[2017-01-24 09:05] niconoe opened #42 "Testing question: mock GBIF API?"
Hi,

I was considering trying to find a bit of time this year to contribute to pygbif, and in my opinion making the test suite more exhaustive would be a good way to start!

Currently, it seems pygbif test suite consumes the "real" GBIF API, which is IMHO suboptimal (fragility, some tests are difficult to implement, speed considerations, ...). I was therefore considering (in another project) to cr

[2017-01-24 21:07] sckott commented on #42
hi @niconoe !

when I first read the subject of the issue I thought you were going to say mock tests as in https://github.com/kevin1024/vcrpy or https://github.com/sigmavirus24/betamax - so that we can basically cache real responses and then test against those - which we can do and would speed up tests

as far as a mock server, that would be useful. would it be possible though to get a matching se

[2017-01-26 08:36] niconoe commented on #42
Indeed, the server has to match very closely the real GBIF infrastructure, otherwise it's creating more problems than it solve.

I may use something similar to vcrpy during its development to have more realistic mock data, but that returned data will then be stable, i.e. like a "frozen" copy of the GBIF api.

Currently, `pygbif` test suite test two things at the same time: the correct behavior of

[2017-05-08 16:28] sckott opened #43 "Download request: body length - give guidance in docs"

[2017-06-21 23:38] #25 closed

[2017-10-06 18:12] sckott commented on #41
maps v2 is out https://www.gbif.org/developer/maps :tada:

[2017-10-09 22:32] sckott opened #44 "finch for Python?"
do pythonistas think we need something like https://github.com/ropensci/finch for Python?  or not so much?

[2017-10-12 17:48] peterdesmet commented on #44
It already exists: https://github.com/BelgianBiodiversityPlatform/python-dwca-reader 😄

/cc @niconoe @stijnvanhoey

[2017-10-12 17:51] sckott commented on #44
perfect!

[2017-10-12 17:51] #44 closed

[2018-06-22 07:40] timlinux commented on #19
Thank you for making this library! Can you share what the status is for python 3 support?

[2018-06-22 20:35] sckott commented on #19
thx for your question @timlinux

i do test it on python 2.7 and three different versions of python 3 https://travis-ci.org/sckott/pygbif/builds/332893995 - so I think it's probably good to go for python 3, but it's possible i've missed some things. is there some sort of linter or so to make sure a python lib is python 3 compatible?

[2018-08-08 17:00] sckott opened #45 "cli tool?"
work on the `clitool` branch locally

not sure i'll do this or not yet, but started some work

[2019-01-04 09:07] aubreymoore opened #46 "occurrence search returns observation outside specified polygon provided in geometry parameter"
When I search for _Oryctes rhinoceros_ within a bounding box for Guam, I get an occurrence record for the Philippines. Using python 2.7/pygbif 0.2.0.

from pygbif import occurrences as occ
occ.search(scientificName='Oryctes rhinoceros',
          geometry='POLYGON((144.61 13.22, 144.61 13.66, 144.96 13.66, 144.96 13.22, 144.61 13.22))',
          limit=1)

Returns:

{u'count': 3,
 u'endOfRecords':

[2019-01-04 18:22] sckott commented on #46
thanks for the report @aubreymoore having a look

[2019-01-04 19:12] sckott commented on #46
looksl like your WKT has the wrong winding direction.

GBIF docs have for the `geometry` parameter https://www.gbif.org/developer/occurrence#p_geometry

I'll update the docs on this.

If you reverse the winding order of your WKT it works as expected I think:

[code]

[code]

I haven't found an easy Python lib for reversing winding order, but in R, you could

[code]

[2019-01-04 22:38] aubreymoore commented on #46
Thanks for the explanation. And thanks for maintaining this useful package.

[2019-01-05 01:56] sckott opened #47 "fix download tests failing with hard-coded date"
[code]

[2019-01-05 03:16] #47 closed

[2019-01-05 06:59] sckott commented on #46
the function is now in the library if you reinstall

[2019-01-05 06:59] #46 closed

[2019-01-05 06:59] sckott commented on #19
python 3 only now

[2019-01-05 06:59] #19 closed

[2019-01-06 21:04] sckott commented on #41
@peterdesmet if you have any interest, you can test this out - installing from the `map-api` branch

[2019-01-07 11:14] peterdesmet commented on #41
I'd like to, but don't have the time for it right now. 😬

[2019-01-07 21:02] sckott commented on #41
if you want to try the maps module:

[code]

[code]

[2019-01-25 15:59] data-biodiversity-aq opened #48 "NameError: name 'identifierTyp' is not defined"
Hello, just wanna report a possible typo in the library:

Version:
Python 3.6.2
pygbif 0.2.0

How to reproduce:

[code]

Trackback:
[code]

Thank you so much.

[2019-01-25 17:21] sckott commented on #48
thanks for the report @data-biodiversity-aq 👌

I'll have a look

[2019-01-25 18:20] #48 closed

[2019-01-25 18:20] sckott commented on #48
reinstall from github, should work now

[2019-01-25 18:24] sckott commented on #43
already in the docs, clsing

[2019-01-25 18:24] #43 closed

[2019-01-25 19:46] #41 closed

[2019-02-15 16:15] damianooldoni opened #50 "Trigger a download using multiple predicates"
I would like to trigger a download based on a query structured as follows (just an example):

[code]

If I try something like this:

[code]

I get a valid but empty `occurrence.txt` file because observations cannot have multiple values of `basisOfRecords`. This is clearly a query with multiple levels of predicates involved: an OR within `basisOfRecord` values and a general AND for all query keys.

[2019-02-15 20:13] sckott commented on #50
thanks for your question @damianooldoni

@stijnvanhoey @peterdesmet you two I think did most of the download methods. Any thoughts on the above?

Here's the JSON body that's sent in that example you gave:

[code]

does that look as expected?

[2019-02-22 22:11] sckott commented on #50
any thoughts @stijnvanhoey @peterdesmet ?

[2019-02-23 02:44] sckott opened #51 "Use type hints?"
see https://www.python.org/dev/peps/pep-0484/

@stijnvanhoey @peterdesmet any complaints if we use type hints?  i think it means python 3.5 or greater

[2019-02-23 12:09] stijnvanhoey commented on #51
I don't think this should be an issue. Fine for me

[2019-02-23 12:36] stijnvanhoey commented on #50
I think we can adapt this in 2 ways:

1. Mimick the behaviour of rgbif with - by default - `OR` predicate for multiple values of the same dwc term and `AND` predicates to combine multiple terms.

2.  Adapting the building of queries to support any combination of predicates as defined by the user. Something that looks like we do for [pydov](https://pydov.readthedocs.io/en/latest/query_attribute.htm

[2019-02-23 12:55] stijnvanhoey commented on #50
Forget about my previous comment.

The current `GbifDownload` class provides the different building blocks required to handle this case by using the object oriented apporach instead of the `occurrences.download()` shortcut function:

[code]

So, it is more a matter of missing documentation...

[2019-02-23 12:55] stijnvanhoey commented on #50
the `gbif_invasive.predicates` attribute shows the predicates as setup:

[code]

[2019-02-23 19:32] sckott commented on #51
thanks for the feedback @stijnvanhoey

[2019-04-30 12:54] ninsbl commented on #14
In GRASS GIS, I used your excellent library for:
https://grass.osgeo.org/grass76/manuals/addons/v.in.pygbif.html

Data goes right into GIS for all sorts of map making and combination with other data.

One could also think if a simple QGIS plugin wrapped around pygbif....

Personally, I would keep pygbif focused on the interaction with GBIF, following the Linux principle, do one thing and do it wel

[2019-04-30 16:54] sckott commented on #14
Thanks for the note @ninsbl  Neat to see this use case for pygbif!

I agree to keep it simple. We do have a very minimal mapping api https://github.com/sckott/pygbif#maps-module that usess GBIF's maps web API, but I don't plan on building that out any further

[2019-08-06 18:23] sckott commented on #50
@damianooldoni any time to take a look at question from @stijnvanhoey ? if not, i'll take a look

[2019-08-06 18:24] #42 closed

[2019-08-07 15:15] damianooldoni commented on #50
yes, @sckott . Actually It totally slipped my mind.
Indeed, the query posted by @stijnvanhoey is similar to the query sent via rgbif. An example in R here below:

[code]

which results in following API query:

[code]

This has same structure of the query posted by @stijnvanhoey: only the order changes (`type`-`key`-`value` vs `key`-`type`-`value`), which doesn't change anything of course.

I will

[2019-08-07 15:26] stijnvanhoey commented on #50
As the result is the same, we should improve the documentation of pygbif to make sure this use case is explained to other users as well. Or we could improve the documentation by providing an explanation of the object oriented way of using pygbif more in general?

[2019-08-07 18:15] sckott commented on #50
+1 to improving docs/adding examples

[2019-08-08 07:33] damianooldoni commented on #50
Yes, @sckott, sure. It totally slipped my mind.

[2019-08-08 07:34] damianooldoni commented on #50
I test is again to be completely sure. Yes, documentation should be improved as well. I can give a try.

[2019-08-08 08:43] damianooldoni commented on #50
I found that this doesn't work:

[code]

while this works:

[code]

This means that the parameters of the shortcut function `occurrences.download()`  are the typical ones (same as the `rgbif`'s ones) while we have to use the "raw" versions of them if we want to build queries with `.add_predicate()` and `.add_iterative_predicate()`.

This has to be documented as well or, even better I think, should

[2019-08-08 17:27] sckott commented on #50
converting for the user makes sense, what do you think @stijnvanhoey ?

[2019-08-22 09:10] nleguillarme opened #52 "Caching API requests"
Python 3.7
pygbif 0.3.0

In my application, I send a lot of requests to get info from GBIF backbone taxonomy, sometimes with the same parameters. Ultimately, I plan to download the full taxonomic backbone, but in the meantime, I think it would be great to implement some caching mechanism, for instance using [requests-cache](https://pypi.org/project/requests-cache/).

Anyway, great work on this lib

[2019-08-22 16:20] sckott commented on #52
thanks for the issue @nleguillarme

had a look at that pkg. is it more common for pkg maintainers to build in caching with a pkg like `requests-cache` or to point the user to doing it themselves?  I've never done this in Python so not sure what best practice is

[2019-08-23 09:52] nleguillarme commented on #52
Hi @sckott.

That's a good question and I do not have enough experience to give you an answer.
As I am sending requests to a lot of different APIs in my app, I use two useful tools to make it more robust :

- Caching to improve performance and avoid hitting rate limits
- [Retry sessions](https://www.peterbe.com/plog/best-practice-with-retries-with-requests) to handle ConnectionError due to unrelia

[2019-08-30 17:52] sckott commented on #50
@stijnvanhoey ?

[2019-08-30 17:57] sckott opened #53 "GbifDownload class: in type can be used now"
working on this in rgbif now https://github.com/ropensci/rgbif/issues/362

Here https://github.com/sckott/pygbif/blob/master/pygbif/occurrences/download.py#L245-L253 we talk about that predicate `in` does not work - this should work now

see also https://discourse.gbif.org/t/downloading-and-citing-occurrence-data-for-multiple-taxa/1152

[2019-08-31 10:21] stijnvanhoey commented on #50
I'm sorry, I agree that using the Darwin-core terms make much more sense for the user. I would refactor the input of it before updating the documentation.

[2019-09-13 18:59] sckott commented on #52
thanks, and sorry for the delay, will try to get something built in soon ...

[2019-09-13 19:00] sckott commented on #50
thanks @stijnvanhoey - agree we should refactor. Does one of you have time for this? or should I put it on my to do list?

[2019-09-16 06:59] stijnvanhoey commented on #50
I won't be able to do it the coming weeks, so it would rather be November that I can contribute on this. Currently too busy on [remake of pandas documentation](https://dev.pandas.io/pandas-sphinx-theme/user_guide/io.html#html) ;-)

[2019-09-16 16:57] sckott commented on #50
ok, thanks @stijnvanhoey - pandas docs sounds fun and impt.

I'll probably take a crack at it, but will make sure you two have a look at it

[2019-09-16 21:32] damianooldoni commented on #50
Thanks @sckott . Just back from two weeks holidays and I don't see time to do it even. Still, available for review. So, ping me if needed.

[2019-10-24 17:17] sckott opened #54 "date range queries potential issue"
A user wants to query a range of months overlapping two different years. It's clear that its not really possible to do month 11 to month 2, so probably have to use year-month dates. It doesn't seem possible with year-month dates though. We've tried `eventDate` with `YYYY-MM,YYYY-MM`, e.g., `2010-10,2011-02`, but that doesn't work. e.g.,

[code]

the dates are all in 2011

[code]

There's about 550

[2019-11-01 22:49] sckott commented on #52
@nleguillarme reinstall from branch `caching` `[sudo] pip install git+git://github.com/sckott/pygbif.git@caching#egg=pygbif`

uses requests-cache library now, see method `pygbif.caching` - let me know what you think, see docs for it `??pygbif.caching` in ipython

[2019-11-01 22:49] sckott commented on #52
also, curious if any comments from @peterdesmet @stijnvanhoey @damianooldoni on this ☝️

[2019-11-18 10:28] qgroom opened #55 "Latin name gender matching"
Python 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
pygbif 0.3.0

When querying GBIF using `name_suggest` the name Lantanophaga pusillidactyl**a** is not found. Apparently, it has been written in the wrong gender form. However, the GBIF website given the same query returns the results for Lantanophaga pusillidactyl**us**.

Is it possible to include this functionality in pygbi

[2019-11-18 23:57] sckott commented on #55
Thanks for your question @qgroom

The short answer is: I don't know for sure how to get the same behavior.

pygbif does have `name_lookup` which uses the `/species/search` route here https://www.gbif.org/developer/species#searching - more of a full text search of names. That method gets closer, but still gives a lot of results of the **a** ending:

[code]

I had a look at the gbif site with browse

[2019-11-19 08:35] MortenHofft commented on #55
The species match API might be what you are looking for?
http://api.gbif.org/v1/species/match?name=Lantanophaga%20pusillidactyla

Or for species search it might be good to include a datasetKey=backbone
https://api.gbif.org/v1/species/search?q=Lantanophaga%20pusillidactyla&datasetKey=d7dddbf4-2cf0-4f39-9b2a-bb099caae36c

does that help?

[2019-11-19 13:17] nleguillarme commented on #52
Hi, thank you for your work.

I run into an issue when reinstalling pygbif from the caching branch with
`sudo pip install git+https://github.com/sckott/pygbif.git@caching#egg=pygbif`

`Collecting pygbif from git+https://github.com/sckott/pygbif.git@caching#egg=pygbif
  Cloning https://github.com/sckott/pygbif.git (to caching) to /tmp/pip-build-7o4QB8/pygbif
Requirement already satisfied: requests>

[2019-11-19 17:46] sckott commented on #55
thanks @MortenHofft - right, we have that route implemented in `name_backbone` method

Perhaps `species.name_backbone('Lantanophaga pusillidactyla')` does what you want @qgroom

[2019-11-20 06:19] qgroom commented on #55
Thanks, I'll give it a try and get back to you.

[2019-11-20 09:19] qgroom commented on #55
Yes, that works. Perhaps a note is required in the documentation, but then I don't suppose anyone will read it.

[2019-11-20 13:37] nleguillarme commented on #52
Hi @sckott. Thank you for your work. Everything seem to work fine. I tested some scripts that get info from GBIF and never reached the request limit. When re-running the scripts, all results are obtained from the cache, which dramatically speed up the process.

[2019-11-20 16:55] sckott commented on #52
Great, glad it works. I'll submit a new version to pypi soon

[2019-11-20 16:55] #52 closed

[2019-11-20 16:55] sckott commented on #55
glad it works.

agree, but i guess its the right thing to do

[2019-11-20 19:22] #55 closed

[2019-11-20 19:27] sckott commented on #7
not going to do this unless folks want it

[2019-11-20 19:27] #7 closed

[2019-11-20 19:36] sckott commented on #54
note to self, waiting on gbif/occurrence issue linked above

[2019-11-28 09:40] nleguillarme opened #57 "Download error"
Hi, I'm trying to download occurrence data and run into an exception. Here is my code:
`   from pygbif import occurrences as occ

    key = 2473421
    download_info = occ.download(
        user=my_user_name,
        pwd=my_pwd,
        email=my_email,
        queries=["taxonKey = {}".format(key)]
    )

    if len(download_info) > 0:
        occ.download_get(key=download_info[0])`

And the error

[2019-11-28 16:19] sckott commented on #57
thanks for your question @nleguillarme

if you pass the key to `download_meta` you can get the status: `occ.download_meta(key=download_info[0])`

The GBIF download service is not like the search service (e.g., `occ.search`). The search service returns data right away, whereas the download service kicks off a background job, and only after it finishes running can you then request the data.

You can

[2019-11-29 13:25] nleguillarme commented on #57
Thank you @sckott for these explanations.

[2019-11-29 20:18] sckott commented on #57
Do you need any further help on this?

[2019-12-03 23:59] juanpac96 opened #58 "I can't export coordinates of maps.map object"
I have the Next code for exctract the coordinate from map
[code]
Next, I visualizate the data
[code]
My problem is in item for coordinate. Because I need in this format:
{'geometry': {'coordinates': [[[-75.3, 4.35],
    [-73.2423, 4.2307],
    [-75.2417, 5.2307],
    [-75.2415, 5.2312],
.........
How can i make the trasfomation? I need the coordinate in this way because I will create a GeoDataFram

[2019-12-06 19:53] sckott commented on #58
Thanks for your question. I don't know how to convert the data to lat/long values. We do this in the R package rgbif, through the protolite pkg here https://github.com/jeroen/protolite/blob/master/R/mvt.R - i'll ask some folks if they know how to do this in python

[2019-12-07 18:03] stijnvanhoey commented on #58
I do think https://github.com/mapbox/mercantile or https://github.com/tilezen/mapbox-vector-tile#decoding could be useful, but haven't tried this myself.

[2019-12-09 22:16] sckott commented on #58
thanks @stijnvanhoey

he is already using `mapbox_vector_tile.decode` above - but it returns tile coordinates, what he wants is the lat/long coords.

mercantile might be useful here

[2019-12-12 09:56] nleguillarme commented on #57
So I have a loop to regularly check if the status of the job has changed, but even after receiving the mail from GBIF saying my data download is ready, the status is still "RUNNING", so I have no idea when I can start downloading the archive.

[2019-12-12 19:50] sckott commented on #57
thanks, i'll have a look - what is the download ID?

[2019-12-12 21:15] sckott opened #59 "add a download delete method"
we can add `DELETE /occurrence/download/request/{key}` - and optionally a method to cancel all requests being prepared - https://github.com/ropensci/rgbif/blob/master/R/occ_download_cancel.R

[2019-12-12 21:19] sckott commented on #57
I didn't have an issue creating a download then checking with `download_meta` - maybe it's a problem with that one download -

[2019-12-17 01:44] juanpac96 commented on #58
I use one option to fix it, then is to apply the function
`plt.hexbin(x,y,cmap=color_map,edgecolors='k',extent=(-81.735793,-66.870391,-4.250167,13.394803),
                       gridsize=bins,mincnt=1)`,
where x and y are longitude and latitude, make this plot:
![image](https://user-images.githubusercontent.com/40966420/70957272-900ead00-2043-11ea-8e93-572d7904aaa6.png)

If you wanna see how I ma

[2019-12-17 05:50] sckott commented on #58
the answer for the pagination is that GBIF allows 300 records per request. in `rgbif` we handle that pagination internally for the user, but here we don't. python tends to be a more technical set of users, so didn't do pagination for the user here. there's probably a better way to do it, but here's one way:

[code]

[2019-12-17 05:51] sckott commented on #58
I'll have a look at the notebook

[2019-12-17 13:43] juanpac96 commented on #58
I used your code and only change this part for my propose:
`x = occurrences.search(taxonKey=7707728, country='CO',
            limit=limit, offset=offset)`

But I get the next error:
`HTTPError: 400 Client Error: Bad Request for url: https://api.gbif.org/v1/occurrence/search?taxonKey=7707728&country=CO&limit=300&offset=199800`

This error is the same when I try to get all occurrences with a for lo

[2019-12-17 21:15] sckott commented on #58
Sorry, didn't tell you the other information, that 200,000 is the max for offset+limit, see  https://www.gbif.org/developer/occurrence  - You can separate your requests into smaller bins with `.search`, or you can switch to the `.download` method - it's different syntax from .search, but is more flexible, and has the advantage that there's no limit on records

[2019-12-21 01:46] sckott commented on #58
@juanpac96 so it looks like you figured out the mapping issue - given your comment in https://github.com/sckott/pygbif/issues/58#issuecomment-566341827 ?

[2019-12-23 00:58] juanpac96 commented on #58
Yes, I finally I did it. with download requests, I get it and found the solution to my issue.
![image](https://user-images.githubusercontent.com/40966420/71329628-68ad5980-24f5-11ea-93e2-ce8be9f60df3.png)

[2019-12-30 16:25] sckott commented on #58
Great, nice work

[2019-12-30 16:25] #58 closed

[2020-02-25 00:10] sckott opened #60 "Methods/class for getting citation information for occurrences"
perhaps similar to https://docs.ropensci.org/rgbif/reference/gbif_citation.html - may need to be architected differently to be idiomatic python

[2020-04-02 08:47] diallobakary4 opened #61 "Center map"
Hello
How can center this map on the country ZA (South Africa). This should be quite trivial but I have been unsuccessfully playing with the coordinates (see bellow). Or should simply resize the generated figure?

![map_resize](https://user-images.githubusercontent.com/13533717/78228600-35547080-74cf-11ea-817c-b698cb5f57b2.gif)

Thanks

[2020-04-02 18:04] sckott commented on #61
thanks for your question @diallobakary4 - i'll have a look and get back to you soon

[2020-04-03 00:21] sckott opened #62 "support recordedByID and identifiedByID"
via https://github.com/ropensci/rgbif/issues/403

[2020-05-08 19:08] sckott commented on #61
sorry, I tried but can't figure out how to center. there is an `extent` parameter on `matplotlib.pyplot.imshow` (which we use internally), which seems promising, but I don't know how to use it exactly

[2020-05-08 20:32] diallobakary4 commented on #61
OK thank you.
Will look into that.

On Fri, 8 May 2020, 21:08 Scott Chamberlain, <notifications@github.com>
wrote:

[2020-05-19 13:48] niconoe opened #63 "Implements pagination"
Hi @sckott!

For a current project I'm working on with @damianooldoni, we'll need to access a long list of results from the `name_usage()` API call.

Instead of implementing the pagination/looping is our client code (like in this quick&dirty example: https://gist.github.com/niconoe/b9dcb6c468b996b6f77e18f51516e840), we were wondering if you'd be interested in receiving a PR to implement it in `pyg

[2020-05-19 15:54] sckott commented on #63
👋  thanks for this. Adding pagination handling sounds good.

I lean towards adding the functionality to the existing methods as I don't love the idea of adding a bunch of new methods - if we went with new methods, i imagine we'd have to add a new method for every current method?

------

p.s. pygbif is using https://github.com/psf/black formatter now - so make sure you use that before pushing chan

[2020-05-26 08:30] niconoe opened #66 "Online documentation not up-to-date?"
The documentation online (https://pygbif.readthedocs.io/en/latest/) refers to v0.3 as "latest", while version 0.4 is available both on PyPI and as a GitHub release.

If this documentation upload process is not fully automated, a possible improvement would be to describe it in the "contributing" doc. For my personal projects, I generally try to document that, and also to write a "release checklist"

[2020-05-26 08:44] niconoe opened #67 "Testing: tox"
I noticed that it seems tox testing has been added a long time ago via: https://github.com/sckott/pygbif/pull/20, a nice addition IMHO.

Is it still in use? If no, I suggest some cleanup (`tox.ini` for example). If yes, I think we could make some improvements:

- Document tox's use in contributor's documentation
- Make sure tox environments (configured in `tox.ini` match the supported Python versi

[2020-05-26 13:42] niconoe opened #68 "Multiple issues with species.name_usage(data='vernacularNames')"
I noticed a few issues when trying to do `species.name_usage(key=1, language="FRENCH", data='vernacularNames')` (example from the documentation, I just changed the key to get some results).

- Doc issue: there's no mention of the possible values for languages ("FRENCH"? "FR"? "fr"? ,"fra"?, ...). We should ideally list the possible values or link to an existing standard.
- The documentation mentio

[2020-05-26 13:55] niconoe commented on #68
According to GBIF's API documentation, the vernacularName endpoint doesn't support the `LANGUAGE` parameter.

We can either:

- Drop this example from the documentation, and specify which options of `name_usage()` accept the `LANGUAGE` parameter.
- Implement language filtering in the function, on GBIF's response. In theory, we should implement pagination first (in case there are more than 1000 res

[2020-05-26 16:18] sckott commented on #66
It is automated with readthedocs. For some reason build failures started happening and I never got around to sorting it out.

Looks like for v0.4, https://github.com/sckott/pygbif/blob/v0.4.0/requirements.txt was missing `requests-cache` - I got the latest version on master to build by adding that pkg to `requirements.txt`, but I'm not sure how to get the v0.4 tag to build if the `requirements.txt

[2020-05-26 16:29] sckott commented on #67
I haven't been using tox myself. I run tests with `make test`, using nose.

I'd be happy to try tox, can you propose changes to the file?

[2020-05-26 16:52] sckott commented on #68
Thanks. I've opened an issue in the gbif forum  https://discourse.gbif.org/t/language-and-the-species-api/2188

[2020-05-28 08:41] niconoe commented on #66
I can now see v0.4 in the title on https://pygbif.readthedocs.io/en/latest/index.html, so I guess your changes fixed it, thanks!

[2020-05-28 08:43] niconoe commented on #67
Yeah, I'd be happy to contribute that! Don't hesitate to assign me to this issue (I can't do it myself) so there's some hope I don't forget about it :)

[2020-05-28 09:00] niconoe commented on #68
Thanks!

The last column of the table "Working with Name Usages" at https://www.gbif.org/developer/species gives information on which endpoint accepts which parameter. Maybe we should make sure pygbif documentation is in sync (or just point users there, to avoid duplication information)?

[2020-05-28 13:48] sckott commented on #67
I've assigned you

[2020-05-28 14:39] sckott commented on #68
Right. It's not that much information though, so I think we can point out what routes language works with. And we should make sure to tell users how to specify language. In that forum thread Matt said:

so `language` expects a 2 letter iso code, e..g.,

https://api.gbif.org/v1/species/5231190?language=de

[2020-06-02 10:54] #66 closed

[2020-06-02 21:15] sckott opened #69 "fix `is`, `is not` usage"
https://realpython.com/python-is-identity-vs-equality/

[2020-06-02 21:34] #69 closed

[2020-06-02 21:52] #62 closed

[2020-06-11 00:00] sckott opened #70 "maybe use pytest vcr integration"
https://github.com/ktosiek/pytest-vcr

[2020-09-23 15:39] sckott opened #72 "download_get error in tests"
[code]

[2020-09-23 15:39] #72 closed

[2020-09-24 13:15] dependabot-preview[bot] opened #73 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/sckott) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/sckott/update-logs/48608472).

[2020-09-25 13:16] #73 closed

[2020-10-02 15:17] faroit opened #74 "Obtain format of StillImage"
Hi, I am about to write a tool to automatically fetch media from GBIF occurances on top of pybif.

I wonder what is the best way to obtain the format of the media attachments since some of the data providers did not submit the format type...

e.g. compare

https://api.gbif.org/v1/occurrence/2575119654  (`"format": "image/jpeg"` is present)

with

https://api.gbif.org/v1/occurrence/2644190689  (`fo

[2020-10-02 16:29] #61 closed

[2020-10-02 16:30] sckott commented on #74
Thanks for the issue @faroit

@timrobertson100 @MattBlissett Do either of you know how the media format is determined? See above

[2020-11-04 10:03] faroit commented on #74
any update on this? should I bring this up somewhere at GBIF?

[2020-11-04 10:43] timrobertson100 commented on #74
Sorry, this went unanswered for so long.

The first record comes to us with a format of `image/jpeg` while the second has `jpeg`. The [parser](https://github.com/gbif/pipelines/blob/dbdc6f084170183918fd4cd2832942a1fa847d1f/sdks/core/src/main/java/org/gbif/pipelines/core/interpreters/extension/MultimediaInterpreter.java#L168) is using a [Mime type parser](https://github.com/gbif/parsers/blob/7e8c9a

[2020-11-04 12:55] faroit commented on #74
@timrobertson100 sounds great, thanks a a lot. I guess it makes sense to close this issue here, since its out of scope of pygbif then.

[2020-11-04 12:55] #74 closed

[2020-11-04 15:40] sckott commented on #74
thanks @timrobertson100

[2020-11-05 14:13] AntoineAA commented on #74
Hi,

The example given by Faro (https://api.gbif.org/v1/occurrence/2644190689) corresponds to an observation from our first data publication through the IPT server.

I made a mistake with the "format" field by specifying "jpeg".

My next dump will include the well-formed MIME type format (Tika compliant) "image/jpeg".

I should be able to publish a new version of our two datasets before the end of

[2020-11-18 00:03] faroit opened #75 "Occurance count() vs search()['count']"
I get an explainable behavior when I'm calling the `occurances.count()` using a list of `dataKey`.

* lets count occurances on one dataset1
[code]

* lets do the same for another dataset
[code]

* Now, I would expect that using both keys will get me 988 + 12709, but instead returns

[code]

* When I use the occurance search to get the count

[code]

the result seems to be as expected. Is this a bu

[2020-11-18 00:59] sckott commented on #75
I think count and search work slightly differently. count only allows one value per query while search allows more than 1. I can document that better.

for count i guess a list comprehension or similar would work

[2020-11-18 01:07] faroit commented on #75
great! that helps!

sure, but is there any reason to prefer the count api over search()['count'] then?

[2020-11-18 02:16] sckott commented on #75
At one point a few years back they said they would deprecate the occurrence/count route https://dev.gbif.org/issues/browse/POR-3173/ but it is still around.

there may be a time penalty for using search instead of count, I don't know. search seems better since you can do multiple dataset keys

[2020-11-18 07:19] faroit commented on #75
Right. Thanks a lot. I guess this can be addressed with updated docs. I can review a PR of that helps.

[2020-11-18 07:33] faroit opened #76 "Async support"
Support for async requests (e.g. via aiohttp) could make a nice improvement. Also it could speed up offset searches significantly.

Since pygbif has no support for legacy python, this could be implemented without  much side effects.

[2020-11-18 16:04] sckott commented on #76
Is your proposal to have async across all public functions or just for certain functions?

[2020-11-18 16:15] faroit commented on #76
we could start with the most useful one which is probably `occurances` and see how it works out and how much better it performs.

[2020-11-18 16:21] sckott commented on #76
sounds good

[2020-11-29 23:09] faroit opened #78 "Allow to set verbosity level of get_download"
`download_get` produces print statements that users might want to hide if they:

e.g.

`
Download file size: 984374 bytes
On disk at /var/folders/4p/m3ccc38s0fg5b3c0zb1mdpph0000gn/T/tmpkzsf605i/0117522-200613084148143.zip
`

Maybe a `verbose=False` flag would be suffucient here? Ideally, there would be consistent usage of `logging` to set this package-wide.

Let me know what you think

[2020-11-30 19:49] sckott commented on #78
Sure, sounds good to set it package wide. Any best practice for doing that?

[2020-12-07 10:40] faroit commented on #78
there are many packages to handle this nicely, but common practice seems still using `logging` and set some global config for it https://docs.python.org/3/library/logging.config.html

[2020-12-07 19:58] sckott commented on #78
thanks, some other notes

- https://stackoverflow.com/a/15729700/1091766
- https://docs.python.org/3/howto/logging-cookbook.html

[2021-01-28 01:50] sckott commented on #78
@faroit can you reinstall and try again?

[2021-03-05 20:21] #59 closed

[2021-03-05 22:15] #75 closed

[2021-03-06 01:34] #57 closed

[2021-03-06 01:35] sckott commented on #51
not going to implement, can reopen if there's interest

[2021-03-06 01:35] #51 closed

[2021-03-06 01:35] sckott commented on #45
not going to happen

[2021-03-06 01:35] #45 closed

[2021-03-06 01:36] #14 closed

[2021-03-06 02:17] #68 closed

[2021-03-06 02:18] #78 closed

[2021-03-09 09:35] faroit commented on #60
probably also related to https://github.com/plantnet/gbif-dl/issues/51 (feel free to comment).

[2021-03-09 10:28] faroit opened #79 "Retrieve occurance and media licenses in standardized format"
It would be useful to be able to retrieve standardized (SPDX) license identifiers through pybif.
GBIF licenses are listed legal code urls, we would either need to port [this](http://gbif.github.io/parsers/apidocs/src-html/org/gbif/api/vocabulary/License.html#line.87), assuming there is no way to convert this using the api.

[2021-03-09 12:49] faroit commented on #78
@sckott thanks a lot. I tried them and it works as advertised :+1:

[2021-03-09 20:04] sckott commented on #79
Can you clarify what exactly you want? From here https://spdx.org/licenses/ you want the value in the `Identifier` column or the `Full name` column, or both?

[2021-03-13 14:03] simon-tarr opened #80 "Can't get more than 300 records when using occ.search()"
I'm sending what I think is a straightforward call to GBIF using:
[code]
However, no matter what I set the limit to, I never get more than 300 results back. According to the package's [paper](https://peerj.com/preprints/3304.pdf), `pygbif` uses internal paging to return more than 300 results (if specified using the limit argument) up to GBIF's limit of 200,000 records.

I have tried passing very l

[2021-03-15 19:26] sckott commented on #80
Thanks for the issue @simon-tarr !

That mention of paging in the paper is for the R client, not the Python client.

Right now you have to do the pagination yourself, using limit and offset params

automated pagination has been discussed in #63  - it will take some work, not sure when it will be done. faster of course if someone sends a PR

[2021-03-15 19:28] simon-tarr commented on #80
Thanks for the reply @sckott. Totally missed #63, sorry about that. A friend and I will look into this - if we can develop something sensible will raise a PR for you!

[2021-03-15 19:36] simon-tarr commented on #80
Hi @sckott - what's the best way of finding out the total number of records using `occ.search()`? With that information, sounds like it would be reasonably straightforward to write a loop.

e.g. if there are 650 records, records 1 - 300 are in the fiest iteration, set offset to 301, grab results 301 - 600, set iteration to 601, grab results 601 - 650. Sound reasonable?

[2021-03-15 20:37] sckott commented on #80
[code]

Or with the count API route

[code]

Note that the search and count methods are for different API routes, with potentially different behavior https://www.gbif.org/developer/occurrence - GBIF said they will eventually remove the count API route

[2021-03-17 19:18] sckott commented on #79
Sounds good. Perhaps if I make a class for citations, then the class can have a method for giving that output

[2021-04-22 21:14] nmtarr opened #81 "Download with geometry parameter"
Hello,

I can't seem to figure out how to run occurrences.download() with a geometry parameter successfully.  I've tried enough tweaks to get to the point of wondering if there's a bug.    Anyone got any advice?

I'm using Python 3.7.10 and pygbif 0.5.0.  Here is my code; it works without the geometry parameter:

# ------------------------------------------------
from pygbif import occurrences

us

[2021-04-22 23:41] sckott commented on #81
thanks, on leave until may 3, will have a look then

[2021-05-06 23:51] sckott commented on #81
Wasn't quite sure, had to look this one up, see https://github.com/sckott/pygbif/blob/master/test/test-occurrences-download_request.py#L83

Seems a little bit different from other queries, have to use `GbifDownload` to construct a class first, then `add_geometry`

e.g.,

[code]

[2021-05-18 17:42] sckott commented on #81
@nmtarr  Yes, download dev version from github `pip install git+git://github.com/sckott/pygbif.git#egg=pygbif`

[2021-05-31 22:08] pjgoodall opened #83 "No current publication of pygbif on conda-forge"
The current publication of `pygbif` on the conda platform is nearly 5 years old. Can I encourage `pygbif`  to be published on [conda-forge](https://conda-forge.org/#contribute) please? Recently [python-dwca-reader](https://python-dwca-reader.readthedocs.io/en/latest/) was given an automated build onto conda-forge after a 7-year hiatus (many thanks to [Jordan Cook](https://github.com/JWCook)).

Ple

[2021-06-01 23:11] sckott commented on #83
thanks for the ping @pjgoodall

I set up a [recipe](https://github.com/sckott/staged-recipes/blob/pygbif/recipes/pygbif/meta.yaml) but it didn't work when I ran it locally. Perhaps I need to include something about requirements.txt in the recipe

<details> <summary><strong>CONFIG=osx64 ./.scripts/run_docker_build.sh</strong></summary>

[code]

</details>

[2021-06-02 00:12] JWCook commented on #83
Looks like you just need to add the requirements from your `setup.py` to
`requirements.run`:
[code]

[2021-06-10 07:07] pjgoodall commented on #83
Thanks @JWCook will put this on my list. I need to learn how to do this anyway.

[2021-06-10 14:09] JWCook commented on #83
If/when you submit PRs for those, feel free to ping me if you run into any problems.

[2021-06-11 22:34] sckott commented on #83
Thanks, so I should wait for this, correct?

[2021-06-11 22:45] JWCook commented on #83
Right, there's nothing else to do until those dependencies are published.

[2021-06-11 23:18] sckott commented on #83
thanks. ran again after [adding deps to the meta file](https://github.com/sckott/pygbif/issues/83#issuecomment-852582532) - and ran into the missing `geojson_rewind` - so will wait for that

[2021-06-24 19:48] nmtarr commented on #81
@sckott I downloaded the dev version, but I'm still getting the error as described above.  Can someone please confirm that my geometry parameter should indeed be formatted like this:

"geometry within 'POLYGON ((-82.7 36.9, -85.0 35.6, -81.0 33.5, -79.4 36.3, -79.4 36.3, -82.7 36.9))'"

I'm not confident that I've got it right.

Thanks for the help.

[2021-06-28 21:17] sckott commented on #81
The string you supply to `add_geometry` should just be the WKT itself, without the `geometry within` part - the `geometry within` gets added internally. Does that make sense?

[2021-06-29 13:33] nmtarr commented on #81
@sckott  Thanks.  That makes sense for use of add_geometry.  I would really like to be able to include a geometry parameter with occurrences.download.  The [documentation](https://github.com/sckott/pygbif/blob/master/pygbif/occurrences/download.py#:~:text=geometry%20%3D%20%60%60GEOMETRY%60%60) for that function states that geometry can be included.   Is that not actually the case?

[2021-06-29 19:43] sckott commented on #81
Got it now, thanks for clarifying.

Okay, just pushed a change on [branch geometry-predicate](https://github.com/sckott/pygbif/tree/geometry-predicate). The download predicate logic was splitting strings on spaces, which doesn't work for geometry predicate since you can't remove spaces from a WKT string. Should work now after reinstalling from github. Let me know if works.

[2021-06-30 18:08] sckott commented on #81
Awesome, glad it works now.

i'll PR the change to the main branch and seek a bit of feedback first from other contribs

[2021-06-30 18:49] #81 closed

[2021-07-12 08:33] timrobertson100 opened #85 "Migrate project to GBIF repository"
As requested by @sckott - please assign it to me as confirmation and I will move it to github.com/gbif.

[2021-07-13 11:38] timrobertson100 commented on #85
Actually, I think you can initiate the transfer.
Settings / danger zone / transfer and enter "GBIF" at the target.

Can you please try that?

[2021-07-13 11:54] MattBlissett commented on #85
I think Scott is right, a transfer can be requested from his account to yours, but he can't request a transfer to GBIF's account — and he can't give either of us admin access on his repository.

https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/transferring-a-repository#transferring-a-repository-owned-by-your-user-account

[2021-07-13 12:20] sckott commented on #85
I'll try transferring to Tim

[2021-07-13 12:25] timrobertson100 commented on #85
Thanks, @sckott - I received it, and moved to https://github.com/gbif/pygbif

All the best

[2021-07-13 12:25] #85 closed

[2021-07-13 18:59] sckott commented on #85
Great, glad it worked.

[2021-08-30 15:46] sckott opened #86 "Bug in maps module"
A pygbif user emailed me today, and I reproduced the error in the maps module.

[code]

gives the error

[code]

I changed this line https://github.com/gbif/pygbif/blob/master/pygbif/maps/map.py#L218 to be `plt.show()` and it then worked. I'm not sure if that's the best way to fix it

[2021-09-07 18:55] dfloer opened #87 "OSError: when calling maps.map()"
I'm getting `OSError: [Errno 30] Read-only file system: ` when calling maps.map() to get a map image.
This is being run inside a container with a read-only filesystem.

It seems like there should at least be an exception raised from the GbifMap class. I don't know if this is intended to be a pure API library, but I don't expect an HTTP API wrapper to be saving files to my filesystem without me tel

[2021-09-07 19:50] faroit opened #88 "add compatibility to requests-cache = 0.8"
requests-cache 0.8 is a dependency of pygbif and was recently updated to 0.8.

This version breaks compatibility with this package

[code]

I suggest, to freeze the dependency to 0.7.4 fo rnow

[2021-09-07 23:11] dfloer commented on #87
As a workaround I monkey patched out the call to `self.__write_file()` in:
https://github.com/gbif/pygbif/blob/1508ca9193118ff1e1d101aef195a3c613330231/pygbif/maps/map.py#L187-L195
like so (I also removed the plotting related calls as they're extraneous for an API, and caused other issues detailed in another issue):
[code]

[2021-09-07 23:12] dfloer opened #89 ""SyntaxError: not a PNG file" in maps.map() call with 204 response"
I'm getting the following traceback (trimmed from pytest run) when pygbif gets a HTTP 204 error back from the GBIF API. According to the documentation, `maps.map()` returns a `GbifMap` object and doesn't raise any exceptions. What I'm seeing it it blowing up instead.
[code]
Here's a command that triggers it for me now: `pygbif.maps.map(z=10, x=10, y=10)`. It appears that the API is returning a 204

[2021-09-08 01:29] JWCook commented on #88
The import [here](https://github.com/gbif/pygbif/blob/1508ca9193118ff1e1d101aef195a3c613330231/pygbif/caching.py#L2) just needs to be changed to:
[code]

Pinning the dependency to `requests_cache~=0.7.4` would also work.

[2021-09-08 14:12] dfloer commented on #89
The monkey patch I ended up applying to work around #87 also removes the attempt to plot, so the allows me to properly get the "empty" response.

[2021-09-08 16:15] faroit commented on #88
sounds good. I use 0.7.4 now in gbif-df. But maybe its good to issue a minor release of pygbif sooner rather than later

[2021-10-14 21:51] gbrunner opened #91 "add requests-cache to dependencies"
I think you need to add ```requests-cache``` to your package dependencies. i keep getting the error:
**ModuleNotFoundError: No module named 'requests_cache.core'**

[2021-12-02 13:32] nickynicolson opened #92 "Add support for isNull, isNotNull predicates in download"
pygbif version 0.6.0

Download functionality doesn't yet support the full list of [predicates](https://www.gbif.org/developer/occurrence#predicates) available via the GBIF API

[2021-12-20 17:04] bwakkie opened #93 "ModuleNotFoundError: No module named 'requests_cache.core'"
I got the following error after pip install ...
[code]
Solution: edit pygbif/caching.py
And change in line 2:  requests_cache.core to requests_cache

(source: https://requests-cache.readthedocs.io/en/stable/user_guide/troubleshooting.html
ModuleNotFoundError: No module named 'requests_cache.core': This module was deprecated in v0.6 and removed in v0.8. Just import from requests_cache instead of re

[2021-12-23 10:56] bwakkie opened #94 "[DOCUMENTATION] GBIF_USER and GBIF_PWD missing but needed"
When I try to download occurrences to a taxon family I am getting the following errors...

ValueError: GBIF_USER not supplied and no entry in environmental variables

ValueError: GBIF_PWD not supplied and no entry in environmental

... but if both your gbif.org user and pwd are supplied it only works:

I could not find this directly in the documentation  https://pygbif.readthedocs.io/en/latest/doc

[2022-01-04 16:13] nickynicolson commented on #94
The use of environment variables to specify GBIF_USER, GBIF_PWD and GBIF_EMAIL is specified in the API documentation for the download method: https://pygbif.readthedocs.io/en/latest/modules/occurrence.html#pygbif.occurrences.download
I suppose it is not currently included in the use case as this does not extend to use of the download functionality. I agree, the use case could be expanded to cover

[2022-01-14 16:07] elsadg commented on #93
Hi, I am still having issues after the change `requests_cache.core to requests_cache` was made in line 2.

[2022-01-15 09:44] bwakkie commented on #93
What type of issues? Can you add an error message?

[2022-01-19 18:48] elsadg commented on #93
I was getting exactly the same message you get in your first comment but now it seems to work fine.

[code]

[2022-01-27 22:43] Becheler opened #95 "Docs: invalid field and invalid page"
Thank you for developing this resource! :)

- In the [occurence module page](https://pygbif.readthedocs.io/en/latest/modules/occurrence.html), a R codeline seems to have made its way: ` fields – [str] Default (all) returns all fields. minimal returns just taxon name, key, latitude, and longitude. Or specify each field you want returned by name, e.g. fields = c('name','latitude','elevation')`
But `

[2022-01-27 23:28] Becheler commented on #63
Any advancement concerning the limit of 300 records using `occ.search`?

[2022-01-28 00:33] sckott commented on #63
No - note that this library is now maintained by the GBIF team - hopefully they'll chime in here to indicate if that's something they're interested in or not

[2022-01-28 01:52] Becheler commented on #63
"Hopefully" ? It seems that since you left the project not much has been implemented. Is the GBIF team planning to maintain this project?

[2022-02-17 22:28] agrosh24 commented on #93
I am having this exact same problem, I cannot get it to work. I have the same error message as well.

[2022-02-17 22:45] agrosh24 opened #96 "Circular Occurences?"
Using Python 3.8.2, not sure which version of pygbif but I've just installed it like half an hour ago.
"from pygbif import maps
out = maps.map(taxonKey = 2435098)
out.response
out.path
out.img
out.plot()"
this is all I have written, but i don't understand the error i am getting.
"ImportError: cannot import name 'maps' from partially initialized module 'pygbif' (most likely due to a circular import

[2022-02-21 14:08] bwakkie commented on #93
@agrosh24 Did you try the suggested solution from my first post?

[2022-02-22 16:32] Becheler commented on #93
I am running into the same issue.

Installing from pypi with `pip3 install pygbif` leads to
[code]

Installing development version with `pip3 install git+git://github.com/sckott/pygbif.git#egg=pygbif` leads to
[code]
And after that what seems like a cascade of failed dependencies (beginning with appdirs, geojson_rewind then geomet) :/

[2022-03-01 20:01] juanpac96 commented on #93
additionally I wanted to complement the previous answer, in case you are using google colab. the way i solved the problem was like this.

[code]

Even so, I think that some libraries should be updated or changed to prevent these incompatibility problems and not have to use so many previous configurations to be able to run the GBIF client.

[2022-04-04 15:28] alrichardbollans commented on #86
I had the same issue and resolved it using your suggestion

[2022-05-23 19:39] fkyeeb commented on #93
If you go onto https://requests-cache.readthedocs.io/en/stable/user_guide/troubleshooting.html. The request_core package says: "requests_cache.core: This module was deprecated in v0.6 and removed in v0.8. Just import from requests_cache instead of requests_cache.core."

A simple solution is to open the python file in the pygbif package that is importing requests_cache.core, and change that to impo

[2022-06-23 13:06] MattBlissett commented on #93
Thanks for the comments everyone.

We've just released version 0.6.1, which updates the required dependencies.

[2022-06-23 13:06] #93 closed

[2022-09-09 11:07] MattBlissett opened #98 "Lack of HTTP connection reuse makes repeated queries slow"
PyGBIF makse makes a new HTTP connection for every request, which has a lot of overhead. It would be much quicker to use the requests module with sessions, so the connection can be reused.

(@mdoering's words via email, CC @juliancabezas)

Looking at the python client code I see it does not reuse connections at all, thus it has to do all the TCP/SSL overhead each time!
https://stackoverflow.com/qu